*{
  margin: 0;
}

a{
  text-decoration: none;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ol {
  list-style:url(/images/vectors/check-icon.png);
}

html{
  scroll-behavior: smooth;
}