@font-face{
  font-display: swap;
  font-family: 'Gilroy';
  font-weight: 400;
  src: url('/fonts/Gilroy-Regular.ttf') format(ttf);
}

@font-face{
  font-display: swap;
  font-family: 'PlayfairDisplay';
  font-weight: 400;
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format(ttf);
}

@font-face{
  font-display: swap;
  font-family: 'PlayfairDisplay';
  font-weight: 600;
  src: url('/fonts/PlayfairDisplay-SemiBold.ttf') format(ttf);
}

@font-face{
  font-display: swap;
  font-family: 'PlayfairDisplay';
  font-weight: 700;
  src: url('/fonts/PlayfairDisplay-Bold.ttf') format(ttf);
}

@font-face{
  font-display: swap;
  font-family: 'PlusJakartaSans';
  font-weight: 400;
  src: url('/fonts/PlusJakartaSans-Regular.ttf') format(ttf);
}

@font-face{
  font-display: swap;
  font-family: 'PlusJakartaSans';
  font-weight: 500;
  src: url('/fonts/PlusJakartaSans-Medium.ttf') format(ttf);
}

@font-face{
  font-display: swap;
  font-family: 'PlusJakartaSans';
  font-weight: 600;
  src: url('/fonts/PlusJakartaSans-SemiBold.ttf') format(ttf);
}
